* {
  margin-left: 5px;
}

header {
  color: aliceblue;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: auto;
}

.br {
  border-right: 0.5rem solid black;
}

header h1 {
  background: -webkit-linear-gradient(#131313, #b8acac);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.diva {
  font-size: 35px;
  font-variant: small-caps;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  text-decoration: underline #bb07ac;
  padding-left: 15px;
  background: -webkit-linear-gradient(#bb07ac, #b8acac);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.w-985 {
  width: 98.5%;
}

.is-3by2 {
  height: 400px;
}

.w-978 {
  width: 97.8%;
}

.link {
  position: absolute;
  font-size: 20px;
  padding: 5px;
  color: white;
  background-color: blue;
  z-index: 1;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  margin-top: 10%;
  margin-left: -.8%;
}

.big-link {
  position: absolute;
  font-size: 20px;
  padding: 5px;
  color: white;
  background-color: blue;
  z-index: 1;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  margin-top: 10%;
  margin-left: -.36%;
}

.big-link:hover {
  padding-right: 20px;
  color: fuchsia;
  font-weight: bolder;
}

.card {
  margin: 1%;
  background-color: rgba(114, 114, 114, 0.5);
}

.card-image {
  margin-bottom: 20px;
}

.card:hover {
  outline: 3px solid blue;
  background-color: rgb(114, 114, 114);
  opacity: 70%;
}

.link:hover {
  padding-right: 20px;
  color: fuchsia;
  font-weight: bolder;
}

@media screen and (max-width: 768px) {
  head,
  body,
  #container {
    flex-direction: column;
    min-width: 375px;
  }
  nav {
    flex-direction: column;
  }
}
