* {
  margin-left: 5px;
}


header {
  color: aliceblue;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: auto;
}

header h1 {
  background: -webkit-linear-gradient(#ffffff, #b8acac);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#first-tile {
  left: 20%;
}

.diva {
  font-size: 35px;
  font-variant: small-caps;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  padding-left: 15px;
  background: -webkit-linear-gradient(#bb07ac, #b8acac);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#headpic {
  height: 400px;
  width: 100%;
}


@media screen and (max-width: 768px) {
  head,
  body,
  #container {
    flex-direction: column;
    min-width: 375px;
  }
  nav {
    flex-direction: column;
  }
}
